@attribute [Authorize]
@inject AppDbContext _context
@inject UserDbContext _userContext
@inject UserService UserService
@rendermode InteractiveServer
@page "/catalog"
@using FlowerShop.Core
@using FlowerShop.Data
@using FlowerShop.Service
@using BlazorBootstrap
@using Microsoft.EntityFrameworkCore

<Accordion Style="margin-right: 200px;">
    <AccordionItem Title="Цветы">
        <Content>
            @foreach (var item in _context.Flowers)
            {
                <Card Class="mb-4" Style="width:18rem; margin-left: 5px;">
                    <img class="rounded-top" src="data:image/png;base64, @item.Image" alt="placeholder"/>
                    <CardBody>
                        <CardTitle>@item.Name</CardTitle>
                        <CardSubTitle Class="mb-2 text-muted">@item.Price рублей</CardSubTitle>
                        @* <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText> *@
                        <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Button" @onclick="@(e => AddFlowerCart(item.Id))">Добавить в корзину</Button>
                    </CardBody>
                </Card>
            }
        </Content>
    </AccordionItem>
    <AccordionItem Title="Упаковки">
        <Content>
            @foreach (var item in _context.Packs)
            {
                <Card Class="mb-4" Style="width:18rem; margin-left: 5px;">
                    <img class="rounded-top" src="data:image/png;base64, @item.Image" alt="placeholder"/>
                    <CardBody>
                        <CardTitle>@item.Name</CardTitle>
                        <CardSubTitle Class="mb-2 text-muted">@item.Price рублей</CardSubTitle>
                        @* <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText> *@
                        <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Button" @onclick="@(e => AddPackCart(item.Id))">Добавить в корзину</Button>
                    </CardBody>
                </Card>
            }
        </Content>
    </AccordionItem>
    <AccordionItem Title="Игрушки">
        <Content>
            @foreach (var item in _context.Toys)
            {
                <Card Class="mb-4" Style="width:18rem; margin-left: 5px;">
                    <img class="rounded-top" src="data:image/png;base64, @item.Image" alt="placeholder"/>
                    <CardBody>
                        <CardTitle>@item.Name</CardTitle>
                        <CardSubTitle Class="mb-2 text-muted">@item.Price рублей</CardSubTitle>
                        @* <CardText>Some quick example text to build on the card title and make up the bulk of the card's content.</CardText> *@
                        <Button Color="ButtonColor.Primary" To="#" Type="ButtonType.Button" @onclick="@(e => AddToyCart(item.Id))">Добавить в корзину</Button>
                    </CardBody>
                </Card>
            }
        </Content>
    </AccordionItem>
</Accordion>

<Button Color="ButtonColor.Primary" Type="ButtonType.Button" @onclick="@ShowModel" id="topRightButton" style="margin-top: 64px;">Показать корзину</Button>

<style>
    body {
        margin: 0;
        padding: 0;
        height: 100vh;
        width: 100vw;
    }

    #topRightButton {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 9999;
    }
</style>

<Modal @ref="cartModal" title="Корзина" UseStaticBackdrop="true" CloseOnEscape="true">               
    <HeaderTemplate>
        <h5>@fullPrice</h5>
    </HeaderTemplate>
    <BodyTemplate>
        @if (_userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId).ShopToys.Count >= 1)
        {
            <div>
                <p>Введите количество игрушек</p>
                <NumberInput TValue="int?" @bind-Value="quantityToys" Step="1" Placeholder="Введите количество игрушек"/>
            </div>
        }
        @if (_userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId).ShopPacks.Count >= 1)
        {
            <div style="margin-top: 10px;">
                <p>Введите количество упаковок</p>
                <NumberInput TValue="int?" @bind-Value="quantityPacks" Step="1" Placeholder="Введите количество упаковок"/>
            </div>
        }
        @if (_userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId).ShopFlowers.Count >= 1)
        {
            <div style="margin-top: 10px;">
                <p>Введите количество цветов</p>
                <NumberInput TValue="int?" @bind-Value="quantityFlower" Step="1" Placeholder="Введите количество цветов"/>
            </div>
        }
        @foreach (var item in _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId).ShopFlowers)
        {
            var flower = _context.Flowers.FirstOrDefault(x => x.Id == item);
            if (flower == null)
            {
                continue;
            }

            <div style="display: flex;">
                <p>@flower.Name @flower.Price рублей</p>
                <button class="btn btn-primary" style="margin-left: 10px;" @onclick="@(() => RemoveFlower(flower.Id))">Удалить</button>
            </div>
        }
        @foreach (var item in _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId).ShopToys)
        {
            var pack = _context.Toys.FirstOrDefault(x => x.Id == item);
            if (pack == null)
            {
                continue;
            }

            <div style="display: flex;">
                <p>@pack.Name @pack.Price рублей</p>
                <button class="btn btn-primary" style="margin-left: 10px;" @onclick="@(() => RemoveToy(pack.Id))">Удалить</button>
            </div>
        }
        @foreach (var item in _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId).ShopPacks)
        {
            var toy = _context.Packs.FirstOrDefault(x => x.Id == item);
            if (toy == null)
            {
                continue;
            }

            <div style="display: flex;">
                <p>@toy.Name @toy.Price рублей</p>
                <button class="btn btn-primary" style="margin-left: 10px;" @onclick="@(() => RemovePack(toy.Id))">Удалить</button>
            </div>
        }
    </BodyTemplate>
    <FooterTemplate>
        <p>@message</p>
        <p style="margin-left: 5px;">Общая стоимость @fullPrice</p>
        <Button Color="ButtonColor.Secondary" @onclick="Buy">Купить</Button>
    </FooterTemplate>
</Modal>

<Modal Title="Подверждение покупки" @ref="acceptModal" UseStaticBackdrop="true" CloseOnEscape="true">
    <BodyTemplate>
        <p>Количество товаров в корзине - @quantity</p>
    </BodyTemplate>
    <FooterTemplate>
        <p>@message</p>
        <p style="margin-left: 5px;">Итогавая стоимость - @amount</p>
        <Button Color="ButtonColor.Secondary" @onclick="AcceptBuy">Купить</Button>
    </FooterTemplate>
</Modal>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public bool? ShowCard { get; set; } = false;

    private string message;

    private double fullPrice;

    private double endPrice;
    
    private Modal cartModal = default!;
    
    private Modal acceptModal = default!;

    private int quantity = 0;

    private double amount = 0;

    #region quantity

    private int? quantityFlower = 1;
    
    private int? quantityToys = 1;
    
    private int? quantityPacks = 1;

    #endregion

    protected override async void OnAfterRender(bool firstRender)
    {
        if (ShowCard == true)
        {
            fullPrice = CalculatePrice();
            await cartModal.ShowAsync();
            ShowCard = false;
        }
    }

    private double CalculatePrice()
    {
        double price = 0;
        
        var user = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
            
        foreach (var item in user.ShopFlowers)
        {
            var flower = _context.Flowers.FirstOrDefault(x => x.Id == item);

            if (flower != null)
            {
                price += flower.Price;
            }
        }

        foreach (var item in user.ShopPacks)
        {
            var pack = _context.Packs.FirstOrDefault(x => x.Id == item);

            if (pack != null)
            {
                price += pack.Price;
            }
        }
            
        foreach (var item in user.ShopToys)
        {
            var toy = _context.Toys.FirstOrDefault(x => x.Id == item);

            if (toy != null)
            {
                price += toy.Price;
            }
        }

        return price;
    }

    private void AddFlowerCart(Guid flower)
    {
        var findUser = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
        
        findUser.ShopFlowers.Add(flower);
        _userContext.Users.Update(findUser);
        _userContext.SaveChanges();
    }

    private void AddToyCart(Guid toy)
    {
        var findUser = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
        
        findUser.ShopToys.Add(toy);
        _userContext.Users.Update(findUser);
        _userContext.SaveChanges();
    }
    
    private void AddPackCart(Guid pack)
    {
        var findUser = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
        
        findUser.ShopPacks.Add(pack);
        _userContext.Users.Update(findUser);
        _userContext.SaveChanges();
    }

    private async void Buy()
    {
        var findUser = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
        
        foreach (var item in findUser.ShopFlowers)
        {
            var product = _context.Flowers.FirstOrDefault(x => x.Id == item);

            if (product == null)
                continue;
            
            amount += product.Price;
            quantity++;
        }
        foreach (var item in findUser.ShopPacks)
        {
            var product = _context.Packs.FirstOrDefault(x => x.Id == item);

            if (product == null)
                continue;
            
            amount += product.Price;
            quantity++;
        }
        foreach (var item in findUser.ShopToys)
        {
            var product = _context.Toys.FirstOrDefault(x => x.Id == item);

            if (product == null)
                continue;
            
            amount += product.Price;
            quantity++;
        }

        if (findUser.Balance < amount)
        {
            message = "Не достаточно средств для покупки";
            
            return;
        }

        amount = amount * (double)quantityFlower * (double)quantityToys * (double)quantityPacks;
        
        // findUser.Balance -= amount;
        // findUser.ShopFlowers.Clear();
        // findUser.ShopPacks.Clear();
        // findUser.ShopToys.Clear();
        // _userContext.Users.Update(findUser);
        // _userContext.SaveChanges();
        //
        // await cartModal.HideAsync();
        await acceptModal.ShowAsync();
    }

    private void RemoveFlower(Guid flower)
    {
        var findUser = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
        
        findUser.ShopFlowers.Remove(flower);
        _userContext.Users.Update(findUser);
        _userContext.SaveChanges();
    }

    private void RemoveToy(Guid toy)
    {
        var findUser = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
        
        findUser.ShopToys.Remove(toy);
        _userContext.Users.Update(findUser);
        _userContext.SaveChanges();
    }

    private void RemovePack(Guid pack)
    {
        var findUser = _userContext.Users.FirstOrDefault(x => x.Id == UserService.UserId);
        
        findUser.ShopPacks.Remove(pack);
        _userContext.Users.Update(findUser);
        _userContext.SaveChanges();
    }

    private async void ShowModel()
    {
        fullPrice = CalculatePrice();
        
        await cartModal.ShowAsync();
    }

    private async void AcceptBuy()
    {
        var findUser = await _userContext.Users.FirstOrDefaultAsync(x => x.Id == UserService.UserId);
        
        findUser.Balance -= amount;
        findUser.ShopFlowers.Clear();
        findUser.ShopPacks.Clear();
        findUser.ShopToys.Clear();
        _userContext.Users.Update(findUser);
        await _userContext.SaveChangesAsync();

        await cartModal.HideAsync();
        await acceptModal.HideAsync();
    }
}